<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="../css/admin.css">

</head>

<body>
    <div id="menu">
        <ul>
            <li><a href="../../index.html">Home</a></li>
            <li><a href="../../index.html">Log out</a></li>
        </ul>
    </div>

    <div class="useraccounts">
        <div>
            <h2>Names</h2>
            <p>Akaliza Ange</p>
            <p>Gato Claude </p>
        </div>

        <div>
            <h2>Account No</h2>
            <p>542658</p>
            <p>112154</p>
        </div>

        <div>
            <h2>Telephone</h2>
            <p>078854120</p>
            <p>078441236</p>
        </div>
        <div>
            <h2>Address</h2>
            <p>Kigali</p>
            <p>Kibuye</p>
        </div>
    </div> 
    </div>
</body>

</html>