<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="../css/admin.css">

</head>

<body>
    <div id="menu">
        <ul>
            <li><a href="../../index.html">Home</a></li>
            <li><a href="../../index.html">Log out</a></li>
        </ul>
    </div>

    <div class="useraccounts">
        <div>
            <h2>Names</h2>
            <p id="myBtn">Akaliza Ange</p>
            <p id="myBtn">Gato Claude </p>
        </div>

        <div>
            <h2>Account No</h2>
            <p id="myBtn">542658</p>
            <p id="myBtn">112154</p>
        </div>

        <div>
            <h2>Telephone</h2>
            <p id="myBtn">078854120</p>
            <p id="myBtn">078441236</p>
        </div>
        <div>
            <h2>Address</h2>
            <p id="myBtn">Kigali</p>
            <p id="myBtn">Kibuye</p>
        </div>
        <div>
            <h2>Balance</h2>
            <p id="myBtn">500.000</p>
            <p id="myBtn">320.000</p>
        </div>
    </div>
    </div>
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <h4>Date: <span>23/7/2019</span></h4>
            <h4>Names: <span>Akaliza Ange</span></h4>
            <h4>Account No: <span>325167</span></h4>
            <h4>Telephone: <span>2</span></h4>
            <h4>Address: <span>325.000</span></h4>
            <h4>balance: <span>500.000</span></h4>

        </div>

    </div>

    <script src="../js/admin.js"></script>
</body>

</html>