<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Admin</title>
  <link rel="stylesheet" type="text/css" href="../css/admin.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>

  <div class="sidenav">
    <a href="../../index.html">Home</a>
    <a href="../../index.html">About</a>
    <a id="myBtn">Account</a>
    <a href="../../index.html">Log out</a>
  </div>

  <div class="main">

    <table>
      <h2 id="dashboard">Admin Dashboard</h2>
      <hr> <br>
      <thead>
        <tr>
          <th>Names</th>
          <th>Account No</th>
          <th>Telephone</th>
          <th>Address</th>
          <th>Balance</th>
          <th>Details</th>
          <th>Delete</th>
          <th>Activate<br> deactivate</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Jill</td>
          <td>Smith</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
          <td>
            <p class="view" onclick="document.getElementById('id01').style.display='block'"><b>View</b></p>
          </td>
          <td><input type="checkbox" name="shouldDelete"><span><button value="delete" class="delbtn"
                onclick='deleteRows()'>Delete</button></span></td>
          <td><label class="switch">
              <input type="checkbox" checked>
              <span class="slider round"></span>
            </label></td>
        </tr>
        <tr>
          <td>Eve</td>
          <td>Jackson</td>
          <td>94</td>
          <td>94</td>
          <td>94</td>
          <td>
            <p class="view" onclick="document.getElementById('id01').style.display='block'"><b>View</b></p>
          </td>
          <td><input type="checkbox" name="shouldDelete"><span><button value="delete" class="delbtn"
                onclick='deleteRows()'>Delete</button></span></td>
          <td><label class="switch">
              <input type="checkbox" checked>
              <span class="slider round"></span>
            </label></td>
        </tr>
        <tr>
          <td>Adam</td>
          <td>Johnson</td>
          <td>67</td>
          <td>67</td>
          <td>67</td>
          <td>
            <p class="view" onclick="document.getElementById('id01').style.display='block'"><b>View</b></p>
          </td>
          <td><input type="checkbox" name="shouldDelete"><span><button value="delete" class="delbtn"
                onclick='deleteRows()'>Delete</button></span></td>
          <td><label class="switch">
              <input type="checkbox" checked>
              <span class="slider round"></span>
            </label></td>
        </tr>

        <tr>
          <td>Zori</td>
          <td>Mercy</td>
          <td>67</td>
          <td>67</td>
          <td>67</td>
          <td>
            <p class="view" onclick="document.getElementById('id01').style.display='block'"><b>View</b></p>
          </td>
          <td><input type="checkbox" name="shouldDelete"><span><button value="delete" class="delbtn"
                onclick='deleteRows()'>Delete</button></span></td>
          <td><label class="switch">
              <input type="checkbox" checked>
              <span class="slider round"></span>
            </label></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="id01" class="mymodal">
  
      <form class="mymodal-content animate" action="">
          
      <div class="container">
          <span onclick="document.getElementById('id01').style.display='none'" class="closes" title="Close Modal">&times;</span>
      
        <h4>Date: <span>23/7/2019</span></h4>
        <h4>Names: <span>Akaliza Ange</span></h4>
        <h4>Account No: <span>325167</span></h4>
        <h4>Telephone: <span>2</span></h4>
        <h4>Address: <span>325.000</span></h4>
        <h4>balance: <span>500.000</span></h4>
      </div>
    </form>
  </div>


  <div id="myModal" class="modal">

    <div class="modal-content">
      <span class="close">&times;</span>
      <h2 style="text-align: center;">Fill this form to create a staff account</h2>

      <div class="container">

        <form class="combine" action="../html/admin.html">
   
            <label for="type">Username</label>
            <select id="type" name="type">
              <option value="debit">Admin</option>
              <option value="credit">Cashier</option>
            </select>

            <label for="fname">Password</label>
            <input id="rp" type="password" placeholder="Password" required />

            <label for="acc">Confirm password</label>
           <input id="rrp" type="password" placeholder="Confirm Password" required />

            <!-- <input type="submit" value="Submit"/> -->

          <button type="submit" value="Submit" class="submits">Submit</button>

        </form>
      </div>
    </div>

  </div>
  <script src="../js/admin.js"></script>
</body>

</html>