<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cashier</title>
    <link rel="stylesheet" type="text/css" href="../css/cashier.css">

</head>

<body>
    <div class="topnav" id="myTopnav">
        <a href="index.html" class="active">Home</a>
        <a onclick="debit()" class="type1" id="debit">Debit</a>
        <a onclick="credit()" class="type2" id="credit">Credit</a>
        <a href="index.html">Log out</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>

    <div class="container"> 
        <div class="Credits">
            <form>
                <table>
                    <tr>
                        <th><img src="../images/laptop1.jpeg" width="600" height="600" alt=""></th>
                        <th>
                            <label for="fname">First Name</label>
                            <input type="text" id="fname" name="firstname" placeholder="Your name.." required>

                            <label for="lname">Last Name</label>
                            <input type="text" id="lname" name="lastname" placeholder="Your last name.." required>

                            <label for="acc">Account No</label>
                            <input type="text" id="acc" name="firstname" placeholder="Enter account no.." required>

                            <label for="amount">Amount</label>
                            <input type="number" id="amount" name="amount" placeholder="Amount .." required>

                            <label for="cashier">Cashier Names</label>
                            <input type="text" id="cashier" name="cashier" placeholder="Cashier name .." required>

                            <label for="date">Date</label>
                            <input type="date" id="date" name="date" placeholder="Date .." required>

                            <label for="Currency">Currency</label>
                            <select id="Currency" name="Currency">
                                <option value="rwf">Rwf</option>
                                <option value="usd">USD</option>
                            </select>
                            <input type="button" value="Credit" id="creditbutton"></th>
                    </tr>
                </table>
            </form>
        </div>
    </div> 
    <script src="../js/cashier.js"></script>
</body> 
</html>