<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User login </title>
    <link rel="stylesheet" type="text/css" href="../css/forgot.css">

</head>

<body>
    <div id="container">
        <form action="login.html">
            <div id="forgot" class="">
                <h3>Forgot Password</h3>
                <div>
                    <input id="fe" type="email" placeholder="Email" required />
                    <input type="submit" value="Submit" />
                </div>
            </div>
        </form>
    </div>
    <script src="../js/user_login.js"></script>
</body>

</html>