<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Papel Project</title>
    <link rel="stylesheet" type="text/css" href="../css/index.css">
</head>
<body>
    <section class="landing_picture">
        <nav>
            <a href="#home">Home</a>
            <a href="#home">Home</a>
            <a href="#home">Home</a>
            <a href="#home">Home</a>
        </nav>

        <form action="">
            <!-- <div> <h3>We’re committed to our customers and <br> being the bank that you deserve.</h3></div>    -->
            <div class="login-form">

                <div class="form-group">
                    <h3>Login</h3>
                    <select name="" id="select_user">
                        <option value="">Admin</option>
                        <option value="">Cashier</option>
                        <option value="">Client</option>
                    </select>
                </div>
                <p class=""><button type="submit" class="btn btn-primary login_butn">Log In</button></p>
                <hr>
                <p>Business Online Banking</p>
            </div>

        </form>

    </section> 

    <section>
        <div></div>
        <div></div>
        <div></div>
    </section>


    <div class="footer">
        <p>footer</p>
    </div>
</body>
</html>