<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User login </title>
    <link rel="stylesheet" type="text/css" href="../css/user_login.css">

</head>

<body>
    <div id="container">
        <h1 style="color: white; margin-top: -10%; margin-bottom: 5%; text-align: center;">Login in</h1>
        <form id="login" action="user_account.html">
            <div id="login" class="comm">
                <input id="email" type="email" placeholder="Email" required />
                <input id="password" type="password" placeholder="Password" required />
                <a href="../html/user_account.html"><input type="submit" id="submit" class="submit" value="Submit"/></a>

                <p onclick="window.location = 'forgot.html';">Forget Password?</p>
            </div>
        </form>
    </div>
    <script src="../js/user_login.js"></script>
</body>

</html>