<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User login </title>
    <link rel="stylesheet" type="text/css" href="../css/user_login.css">

</head>
<body>
    <div id="container">
        <form action="user_dashboard.html">
            <h1 style="color: white; margin-top: -10%; margin-bottom: 5%; text-align: center;">Sign up</h1>
            <div id="register" class="">
                <input id="re" type="email" placeholder="Email" required />
                <input id="rp" type="password" placeholder="Password" required />
                <input id="rrp" type="password" placeholder="Confirm Password" required />
                <input type="submit" value="Submit"/>

            </div>
        </form>
    </div>
    <script src="../js/user_login.js"></script>
</body>

</html>