<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User login </title>
    <link rel="stylesheet" type="text/css" href="../css/user_login.css">

</head>

<body>
    <div id="container">
        <div id="tabs">
             <p id="rt" class="tabs" onclick="regTabFun()">Sign up here</p>

            <div id="clear"></div>
        </div>

        <div id="cont"> 
            <div id="register" class="comm">
                <input id="re" type="email" placeholder="Email" required />
                <input id="rp" type="password" placeholder="Password" required />
                <input id="rrp" type="password" placeholder="Re write Password" required />
                <input type="submit" onclick="window.location = 'user_dashboard.html';" value="Submit" />

            </div> 
        </div>
    </div>
    <script src="../js/user_login.js"></script>
</body>

</html>