<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="../css/user_dashboard.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css">

    <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <section>
        <div id="menu">
            <ul>
                <li><a href="../../index.html">Home</a></li>
                <li><a href="../../index.html">Log out</a></li>
            </ul>
        </div>

        <form class=" content" action="user_account.html">
            <div class="container tables" style="background-color: white;">
                <h4 class="accountform">Please complete this form to create a bank account.</h4>
                <hr>
                <table>
                    <tr>
                        <th><label for="fname"><b>First Name</b></label></th>
                        <th><input type="text" placeholder="Enter first name" name="fname" required></th>

                    </tr>
                    <tr>
                        <td><label for="lname"><b>Last Name</b></label></td>
                        <td><input type="text" placeholder="Enter last name" name="fname" required></td>

                    </tr>

                    <tr>
                        <td><label for="occupation"><b>Occupation</b></label></td>
                        <td><input type="text" placeholder="Enter your occupation" name="occupation" required></td>

                    </tr>
                    <tr>
                        <td><label for="gender"><b>Gender</b></label></td>
                        <td><select id="gender" name="gender" form="genderform">
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select></td>
                    </tr>
                </table>

                <table>
                    <tr>
                        <td><label for="email"><b>Email</b></label></td>
                        <td><input type="text" placeholder="Enter Email" name="email" required></td>

                    </tr>
                    <tr>
                        <td><label for="tel"><b>Phone number</b></label></td>
                        <td> <input type="tel" placeholder="Enter tel" name="tel" range required></td>

                    </tr>

                    <tr>
                        <td><label for="date"><b>Date</b></label></td>
                        <td> <input type="date" placeholder="Enter date" name="tel" range required></td>

                    </tr>
                </table>
                <table>
                    <tr>
                        <td> <label for="accounttye"><b>Account type</b></label></td>
                        <td> <select id="accounttype" name="accounttype" form="accountform">
                                <option value="personal">Personal account</option>
                                <option value="saving">Saving account</option>
                            </select><br><br></td>
                    </tr>
                </table>
                <button type="submit" class="submits" id="account">Submit</button>
            </div>
        </form>
    </section>

    <div id="footer">
        <p>&copy; Papel. All rights reserved. </p>
    </div>
</body>

</html>