<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User sign up</title>
    <link rel="stylesheet" type="text/css" href="../css/user_signup.css">
    <script src=".../js/user_signup.js"></script>
</head>

<body>
    <section class="user-signup">
        <fieldset>
            <h2 class="loghere">Sign Up Form</h2> 
            <p class="fill_form" style="text-align: center;">Please fill in this form to create an account.</p>
            <form class="signup">
                <div class="container">
                    <label for="uname"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="uname" required>
                    <br>
                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" required>
                    <br>
                    <label for="psw-repeat"><b>Repeat Password</b></label>
                    <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
                    <br>
                    <div class="thebutton">
                    <button type="submit" class="signup">SignUp</button>
                    <button><a href="user_signup.html" class="link">Login</a></button></div>
                </div>
            </form>
        </fieldset>
    </section>
</body>

</html>