* { 
    margin: 0; 
    padding: 0;
  }
  body {
    background-image: url("../images/log.jpeg");
    background-repeat: no-repeat;
    background-size: cover; 
  }
 
  #container { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 420px;
    padding: 70px 40px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
  }

  input{ 
    border: none;
    width: 250px;
    margin: 10px 13px;
    padding: 10px;
    font-size: 1.3em;
    background-color: white;
    outline: none;
     margin-bottom: 10%;
  }
 
  input[type="submit"] { 
    border: none;
    outline: none;
    height: 40px;
    color: #eee;
    font-size: 16px;
    background-color: #008080;
    cursor: pointer;
    border-radius: 20px;
    width: 200px; 
    margin-left: 10%;
  }

  
  h3 {
    display: table-cell;
    vertical-align: middle;
    padding: 10px 15px;
    font-size: 1.5em;
    color: #ffffff;
  }

  #forgot h3 {
    display: block;
    text-align: center;
  }
  
  #forgot div {
    margin-top: 30px;
  }
 