body {
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

#menu {
	background: #055657;
	font-size: 20px;
	height: 10vh;
}

#menu ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline-block;
}

#menu a {
	display: block;
	height: 70px;
	padding: 0px 40px 0px 40px;
	text-decoration: none;
	line-height: 70px;
	text-transform: uppercase;
	text-align: center;
	font-size: 16px;
	font-weight: 200;
	color: #FFFFFF;
	border: none;
}
 
img.avatar {
  width: 40%; 
}

.activities{  
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4,1fr);
  margin-left: 12%;
} 

.heading{
  text-align: center;
}
 
p {  
  cursor: pointer;
  opacity: 0.8;
} 

.form-popup {
  display: none;
  bottom: 0;
  z-index: 9;
}

.form-container {
  padding: 10px;
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  border: none;
  outline: none;
  background-color: #055657;
  color: white;
  cursor: pointer;
  opacity: 0.8;
}
