 /* user signup form */

 body{
    background-image: url('../images/si1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
  } 
 fieldset{
  background-color: transparent;
  width: 500px;
  height: 350px;
  padding: 70px;
  margin:0 auto;
  margin-top: 5%;
  border: none;
}

/* .loghere{
  text-align: center;
} */

