@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
}

html, body {
	margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #055657;
  overflow-x: hidden;
  padding-top: 40px;
}

#dashboard{
  font-family: 'Lemonada', cursive;
  color: #eee;
  text-align: center;
  background-color: #055657;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-family: 'Lemonada', cursive;
  opacity: 0.8;
  cursor: pointer;
}

.main {
  margin-left: 160px;
  font-size: 28px; 
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* On screens that are less than 700px wide*/
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px*/
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.containers {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.mymodal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4);
}

.mymodal-content {
  margin: auto;
  padding: 20px;
  width: 30%;
}

.view{
  cursor: pointer;
  }

.closes {
  float: right;
  font-weight: bold;
  cursor: pointer;
}

table { 
	width: 100%; 
	border-collapse: collapse; 
	}

tr:nth-of-type(odd) { 
	background: #eee; 
	}

th { 
	background: #055657; 
	color: white; 
	font-weight: bold; 
	}

td, th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 18px;
	}


@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table h2{ 
	  	width: 100%; 
	}

	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}

td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		content: attr(data-column);
		color: #000;
		font-weight: bold;
	}

}

img.avatar {
  /* vertical-align: middle; */
  margin-left: 10%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profile{
  margin-left: -30%;
}

.history{
  display: grid;
  /* grid-gap: 5px; */
  grid-template-columns: repeat(2,1fr);
  font-size: 1rem;
}